<!doctype html>
<html>
<head>
	<title>Conocenos</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
</head>
<body>
<div id="all">
<header>

       <nav>

                <ul>
                        <li>
                                <a href = "{% url 'inicio' %}">Inicio</a>
                        </li>

                        <li>
                                <a href = "{% url 'conocenos' %}">Conocenos</a>
                        </li>

                        <li>
                                <a href = "{% url 'productos' %}">Productos</a>
                        </li>

                        <li>
                                <a href = "{% url 'politicas' %}">Politicas de privacidad</a>
                        </li>

                        <li>
                                <a href = "{% url 'contacto' %}">Contactanos</a>
                        </li>
                </ul>
        </nav>  
</header>
<article>
	<aside>
                <p>RECETARIO</p>
                <hr color = "#666">
		
        </aside>

	<section>


	</section>
</article>

<div id="second">


</div>

<div id="third">


</div>

<hr color="#666">
<footer> Hecho por Behtsa                            ||
                        <a href="http://www.facebook.com">
                        <img src="/static/Imagenes/fbp.png" alt="Facebook"></a>
                        <a href="http://www.twitter.com">
                        <img src="/static/Imagenes/tbp.png" alt="Twitter"></a>
</footer>
</div>
</body>
</html>