<!doctype html>
<html>
<head>
	<title>Contacto</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/estcont.css">
</head>
<body>
<div id="all">
<header>

       <nav>

                <ul>
                        <li>
                                <a href = "{% url 'inicio' %}">Inicio</a>
                        </li>

                        <li>
                                <a href = "{% url 'conocenos' %}">Conocenos</a>
                        </li>

                        <li>
                                <a href = "{% url 'productos' %}">Productos</a>
                        </li>

                        <li>
                                <a href = "{% url 'politicas' %}">Politicas de privacidad</a>
                        </li>

                        <li>
                                <a href = "{% url 'contacto' %}">Contactanos</a>
                        </li>
                </ul>
        </nav>  
</header>
<article>
        <aside class = "contacto">
                <img class= "fyt"src="/static/Imagenes/fyt.png">

        </aside>


        <section>
                <h2 class ="titulo"> Contacto </h2>
                <hr color= "#666">

<p> Twiter : @Behtsa</p>

<p> Facebook: MonzeGdbm </p>

        </section>
</article>

<footer> Hecho por Behtsa                            ||
                        <a href="http://www.facebook.com">
                        <img src="/static/Imagenes/fbp.png" alt="Facebook"></a>
                        <a href="http://www.twitter.com">
                        <img src="/static/Imagenes/tbp.png" alt="Twitter"></a>
</footer>
</div>
</body>
</html>