<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
	
</head>
<body>
<a href="{% url 'agregar-producto' %}">Agregar Producto</a>
<table>
	<tr>
		<td>Nombre</td>
		<td>Precio</td>
		<td>Cantidad</td>
		<td>Editar</td>
		<td>ELiminar</td>
	</tr>
	{% for p in productos %}
	<tr>
		<td> {{p.nombre}} </td>
		<td> {{p.precio}} </td>
		<td> {{p.cantidad}} </td>
		<td><a href="{% url 'editar-producto' p.pk %}">editar</a></td>
		<td><a href="{% url 'borrar-producto' p.pk %}">eliminar</a></td>

	</tr>
	{% endfor %}
</table>	
</body>
</html>
